# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea
*.iml
.vscode

# Misc
.proton-version
proxies.txt